
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header-img {
    background-image: url('images/image2.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 60px;
    background-color: #444;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.image-box img {
    width: 100%;
    border: 5px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
